# Server
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Database (from @concinnity/database package)
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.nqyudbywjkyydhiltcho.supabase.co:5432/postgres"
DIRECT_URL="postgresql://postgres:[YOUR-PASSWORD]@db.nqyudbywjkyydhiltcho.supabase.co:5432/postgres"

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://nqyudbywjkyydhiltcho.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Clerk
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=

